@page
@model MedFlow.Web.Pages.CreateTaskModel
@{
}

<h1>Create A Task</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="AssginedToUserId">Select Assignee:</label>
        <select asp-for="AssginedToUserId" class="form-control">
            <option value="">Select an Assignee</option>
            @foreach (var assignee in Model.Assignee)
            {
                <option value="@assignee.Id">@assignee.FirstName @assignee.LastName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>